doctype html
html(lang="en")

head
    meta(http-equiv="content-type" content="text/html; charset=UTF-8")
    meta(charset="utf-8")
    title Library App Jade View
    meta(name="generator" content="Bootply")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    //- bower:css
    
    //- endbower 
    //- bower:js
    
    //- endbower 
    //- inject:css 
    
    //- endinject 
    //- inject:js 

    //- endinject
    
body
    header(class="navbar navbar-bright navbar-fixed-top" role="banner")
        .container
            .navbar-header
                button(class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse")
                    span(class="sr-only">Toggle navigation)
    